// SILENT CLASSES
//

%ttyg-common {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

%ttyg-f-left {
  float: left;
}

%ttyg-f-right {
  float: right;
}

%ttyg-margin-r {
  margin-right: map-get($ttyg-defaults, gutter);
}

%ttyg-margin-c {
  margin-left: auto;
  margin-right: auto;
}

%ttyg-r-auto {
  right: auto;
}

%ttyg-l-auto {
  left: auto;
}

%ttyg-cf:before,
%ttyg-cf:after {
	content: '';
	display: table;
}
%ttyg-cf:after {
	clear: both;
}
%ttyg-cf {
	*zoom: 1;
}

%ttyg-grid {
	@extend %ttyg-cf;
	width: 100% - 2*map-get($ttyg-defaults, page-padding);
	max-width: map-get($ttyg-defaults, grid-width);
	margin: 0 auto;
}

/** 
 * Add regular classes into your stylesheet
 */

 @mixin ttyg-classes () {
 	// TODO
 	// Print classes

 	/* .grid {
		@extend %ttyg-grid;
	} */
 }